p {color: red}
p {font-family: 'Roboto', sans-serif;}
h2 {text-shadow: 2px 1px black;}
h1 {font-size: 64px}
h1 {background-color: pink;}
body {background-image: url('background.gif');}
h2 {background-color: pink;}
h3 {background-color: pink;}
